.lmj-plant-list{
    list-style-type: none;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.lmj-plant-item{
    color: white;
    border: solid 2px white;
    background-color: #31b572;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

h3{
    padding-left: 20px;
}